body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul.header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.header li {
  float: left;
}

ul.header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 17px;
  text-decoration: none;
}

ul.header li a:hover:not(.active) {
  background-color: #111;
}
.active {
  background-color: rgb(86, 111, 223);
}

ul.header li.username {
  float: right;
}

ul.header li.username p {
  display: block;
  color: white;
  font-size: 15px;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
  text-decoration: none;
}

ul.header li.username:hover {
  background-color: #111;
}
